html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: K2D, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--brown);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* variables */
:root {
  --orange: orangered;
  --black: black;
  --white: white;
  --brown: #20161E;
  --brown-100: #ebdfc7;
}

@font-face {
  font-family: 'K2D';
  src: url('../../public/static/fonts/K2D-Regular.ttf');
}

@font-face {
  font-family: 'Delirium';
  src: url('../../public/static/fonts/DELIRIUM-NEON.woff');
}
